<h1>Whiskey Friends Anmeldung</h1>

<div *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <!--<h3>Anmeldung</h3>

  <button (click)="signInWithGoogle()" class="button btn-social btn-google">
    <i class="fa fa-google fa-lg"></i> Mit Google
  </button>


  <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook" disabled>
    <i class="fa fa-facebook fa-lg"></i> Mit Facebook
  </button>

  <hr>
-->
  <user-form></user-form>

</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Du bist angemeldet
    <i class="fa fa-thumbs-up"></i>
  </p>
</ng-template>