@import '../../../styles/base';

.navigation-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    .header {
        color: white;
        height: 100px;
        background: rgba(0, 0, 0, 0.85);

        @media (max-width: 767px) {
            height: 80px;
        }

        .top-menu {
            padding-right: 10px;
        }
    }
    .menu {
        display: inline;
    }
}

.ui-view-container {
    padding-top: 40px;
    padding-left: 20px;
    [ui-view].ng-enter,
    [ui-view].ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    [ui-view].ng-enter {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        -moz-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }

    [ui-view].ng-enter-active {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    [ui-view].ng-leave {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    [ui-view].ng-leave-active {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        -moz-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
}
