<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">

  <h3>Anmeldung</h3>
  <!--<p class="btn button is-small" (click)="toggleForm()">Du bist neu?</p>-->
  <hr>

  <label for="email">E-Mail</label>
  <input type="email" id="email" class="input" formControlName="email" required autocomplete="new-password">

  <div *ngIf="formErrors.email" class="help is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input" formControlName="password" required autocomplete="new-password">

  <div *ngIf="formErrors.password" class="help is-danger">
    {{ formErrors.password }}
  </div>

  <button type="submit" class="button" [disabled]="!userForm.valid">Anmelden</button>

  <span *ngIf="userForm.valid" class="help is-success">Deine Daten sind ok</span>

  <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Passwort zurücksetzen für {{userForm.value.email}}?</a>
  <p *ngIf="passReset" class="help is-info">Password zurücksetzen eingeleitet. Prüfe deine E-Mails.</p>

</form>
<!--<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">

  <h3>Registrierung</h3>
  <p class="button is-small" (click)="toggleForm()">Du bist bereits Registriert?</p>
  <hr>

  <label for="email">E-Mail</label>
  <input type="email" id="email" class="input" formControlName="email" required autocomplete="new-password">

  <div *ngIf="formErrors.email" class="notification is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input" formControlName="password" required>

  <div *ngIf="formErrors.password" class="notification is-danger">
    {{ formErrors.password }}
  </div>

  <div *ngIf="userForm.valid" class="notification is-success">Deine Eingaben sind gültig</div>
  <button type="submit" class="button" [disabled]="!userForm.valid">Bestätigen</button>

</form>
-->