<mat-tab-group>
    <div class="tasteHeader">
        <h2>My Taste Requests</h2>
    </div>
    <mat-tab label="My Taste Requests">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    <table class="table">
                        <thead>
                            <th>Whiskey</th>
                            <th>Supplier</th>
                            <th>Price (€)</th>
                            <th>Date</th>
                            <th>Paid</th>
                        </thead>
                        <tr *ngFor="let taste of myWhiskeyTastes$ | async">
                            <td>{{taste.whiskeyId}}</td>
                            <td>{{taste.supplier}}</td>
                            <td>{{taste.price}} €</td>
                            <td>{{taste.createdAt | date: 'dd.MM.yyyy HH:MM'}}</td>
                            <td>
                                <div *ngIf="!taste.paid">
                                    <mat-icon>check_box_outline_blank</mat-icon>
                                </div>
                                <div *ngIf="taste.paid">
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <div class="tasteHeader">
        <h2>Requests for my Whiskeys</h2>
    </div>

    <mat-tab label="Requests for my Whiskeys">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    <table class="table">
                        <thead>
                            <th>Whiskey</th>
                            <th>Taster</th>
                            <th>Price (€)</th>
                            <th>Date</th>
                        </thead>
                        <tr *ngFor="let taste of otherTastesForMyWhiskeys$ | async">
                            <td>{{taste.whiskeyId}}</td>
                            <td>{{taste.taster}}</td>
                            <td>{{taste.price}} €</td>
                            <td>{{taste.createdAt | date: 'dd.MM.yyyy HH:MM'}}</td>
                            <td>
                                <div *ngIf="!taste.paid">
                                    <button md-button (click)="paid(taste)">Set as Paid</button>
                                </div>
                                <div *ngIf="taste.paid">
                                    <mat-icon>check_box</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>