<mat-card class="bottlecontainer">
    <img mat-card-md-image src="{{WhiskeyBottle.imageUrl}}">
    <mat-card-header>
        <mat-card-title class="md-card-title">{{WhiskeyBottle.name}}</mat-card-title>
        <mat-card-subtitle class="md-card-title">{{WhiskeyBottle.brand}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button md-button (click)="taste()">Taste</button>
    </mat-card-content>

    <!--<mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    </mat-card-actions>-->
</mat-card>