<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>New Whiskey Bottle</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container">
        <form [formGroup]="_whiskeyForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                    <div *ngIf="f.Name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Brand</label>
                <input type="text" formControlName="Brand" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Brand.errors }"
                />
                <div *ngIf="submitted && f.Brand.errors" class="invalid-feedback">
                    <div *ngIf="f.Brand.errors.required">Brand is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Size (cl)</label>
                <input type="text" formControlName="Size" minlength="2" maxlength="4" pattern="[0-9]*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Size.errors }"
                />
                <div *ngIf="submitted && f.Size.errors" class="invalid-feedback">
                    <div *ngIf="f.Size.errors.required">Size is required</div>
                    <div *ngIf="f.Size.errors.pattern">Enter valid number</div>
                    <div *ngIf="f.Size.errors.maxlength">Size is too big</div>
                    <div *ngIf="f.Size.errors.minlength">Size is too small</div>
                </div>
            </div>
            <div class="form-group">
                <label>Price for a taste (€)</label>
                <input type="text" formControlName="Price" pattern="[0-9]*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Price.errors }"
                />
                <div *ngIf="submitted && f.Brand.errors" class="invalid-feedback">
                    <div *ngIf="f.Price.errors.required">Price is required</div>
                    <div *ngIf="f.Size.errors.pattern">Enter valid price</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</mat-card-content>